<!Doctype html>
<html>
    <head>
        <title>My Tasks</title>
    </head>

    <body>
        {% if messages %}
            {% for message in messages %}
                <p style = "color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
            <p>Hello, {{user.username }} | <a href = "{% url 'logout' %}">Logout</a></p>
            <a href = "{%url 'task-create' %}"> Add Task </a>
        {% else %}
            <p>Please <a href = "{% url 'login' %}"> Login </a>oto see your taskzz </p>
        {% endif %}
    <h1> My Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
            <a href = "{% url 'task-update' task.id %}">Edit</a>
            <a href = "{% url 'task-delete' task.id %}">Delete</a>
        {% empty %}
            <li>No tasks yet</li>
        {% endfor %}

    </ul>    

    </body>


</html>