body {
    font-family : Arial,sans-serif;
    margin:0;
    padding : 0;
    background-color:aqua
}

.messages {
    list-style: none;
    padding : 0;
}

.messages li{
    padding :10px;
    margin-bottom:10px;
    border-radius:5px
}

.messages li success{
    background-color :#d4edda;
    color:#155724;
}
.messages li error{
    background-color : #f8d7da;
    color: #721c24;
}

.messages li warning {
    background-color : #fff3cd;
    color: #856404;
}

header {
   background-color: #333;
   color: white ;
   padding: 20px;
   text-align :center;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #2998c4;
}
.pagination {
    margin-top: 20px;
}
.pagination a{
    margin : 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;

}

.pagination span {
    margin: 0 5px;
    font-weight: bold;
}